.form-container {
  display: flex;
  flex-direction: column; /*main axis is now y */
  align-items: center; /*cross axis is now x*/
  width: 40%;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  background-color: white;
  border-radius: 1.5rem;
}
.form-header-text {
  font-size: 4rem;
  text-decoration: underline;
}
.email-container,
.subject-container,
.message-container,
.button {
  display: flex;
  flex-direction: column;
  width: 85%;
}
.email-element,
.subject-element {
  border-radius: 1rem;
  height: 3rem;
  padding: 1rem;
  font-size: 2rem;
}
.message-box {
  height: 13rem;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 2rem;
}
.button {
  border-radius: 1rem;
  font-size: 2rem;
  margin-top: 1rem;
}
.form-container .email-container .email-text,
.form-container .subject-container .subject-text,
.form-container .message-container .message-text {
  font-size: 3rem;
}
@media (max-width: 1250px) {
  .form-container {
    display: flex;
    flex-direction: column; /*main axis is now y */
    align-items: center; /*cross axis is now x*/
    width: 75%;
    padding: 1rem;
  }
  /* .main-content-container {
    height: 100vh;
  } */
  .form-header-text,
  .email-text,
  .subject-text,
  .message-text {
    text-align: center;
  }
  .address-header-text,
  .hours-header-text {
    font-size: 1.5rem;
  }
  .address-location-text,
  .days-text {
    font-size: 1rem;
  }
}
@media (max-width: 710px) {
  .form-container {
    display: flex;
    flex-direction: column; /*main axis is now y */
    align-items: center; /*cross axis is now x*/
    width: 75%;
    padding: 1rem;
  }
  .main-content-container {
    height: 150vh;
  }
  .form-header-text,
  .email-text,
  .subject-text,
  .message-text {
    text-align: center;
  }
  .address-header-text,
  .hours-header-text {
    font-size: 1.5rem;
  }
  .address-location-text,
  .days-text {
    font-size: 1rem;
  }
}
